<configuration>

    <conversionRule conversionWord="colour" converterClass="uk.co.baconi.games.tag.common.LogbackHighlighter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%colour(%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %level %logger - %msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="uk.co.baconi.games" level="${LOGGING_LEVEL:-DEBUG}"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
